@model List<ToDoModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <table>
        @foreach (var ele in Model)
        {
            <tr>
                <td>
                    @ele.todoElement
                </td>
            </tr>
        }
    </table>
</div>

<a href="/home/AddElement">Neues ToDo-Element</a>